@import "_variables";

/**
 * @mixin button-styles
 * Applies basic styling to buttons.
 * 
 * @param {Color} $primary-color - The background color of the button.
 * @param {Color} $secondary-color - The border color of the button.
 */
@mixin button-styles($primary-color, $secondary-color) {
  background-color: $primary-color;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: solid 1px $secondary-color;
  cursor: pointer;
}

/**
 * @mixin hover-effect
 * Adds hover state styles for elements.
 * 
 * @param {Color} $hover-color - The background color on hover.
 * @param {Color} $hover-text - The text color on hover.
 */
@mixin hover-effect($hover-color, $hover-text) {
  &:hover {
    background-color: $hover-color;
    color: $hover-text;
  }
}

/**
 * @mixin links
 * Provides styling for link states (hover, active, visited).
 */
@mixin links {
  &:hover {
    color: rgb(107, 21, 6);
  }
  &:active {
    color: rgb(33, 6, 107);
  }
  &:visited {
    color: rgb(104, 6, 107);
  }
}

/**
 * @mixin section1-style
 * Applies layout and spacing for the top section description.
 * 
 * @param {Color} $last-color - Background color for the section.
 * @param {Color} $secondary-color - Border color for the section.
 */
@mixin section1-style($last-color, $secondary-color) {
  background-color: $last-color;
  border-color: $secondary-color;
  max-width: 100%;
  overflow-x: auto;
  margin-top: -20px;
  margin-left: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  padding: 30px;
}

/**
 * @mixin section2-style
 * Applies styling for the about us and blog sections.
 */
@mixin section2-style() {
  background-color: rgb(240, 215, 213);
  border-radius: 25px;
  padding: 5px 10px 10px 10px;
  max-width: 100%;
  overflow-x: auto;
  margin: 10px;
}

/**
 * @mixin section3-style
 * Applies styling for the fun fact and form sections.
 */
@mixin section3-style() {
  background-color: rgb(240, 227, 213);
  border-radius: 25px;
  padding: 5px 10px 10px 10px;
  max-width: 100%;
  overflow-x: auto;
  margin: 10px;
}

@mixin section4-style() {
  background-color: rgb(240, 239, 213);
  border-radius: 25px;
  padding: 5px 10px 10px 10px;
  max-width: 100%;
  overflow-x: auto;
  margin: 10px;
}

/**
 * @mixin animatedText
 * Creates a slide-in text animation. Used for the website logo and menu.
 */
@mixin animatedText {
  animation-duration: 4s;
  animation-name: slidein;
  @keyframes slidein {
    0% {
      margin-left: 0%;
    }
    50% {
      margin-left: 300px;
    }
    100% {
      margin-left: 0%;
    }
  }
}

/**
 * @mixin grid-container
 * Sets up a responsive grid layout with adjustable columns.
 */
@mixin grid-container {
  display: grid;
  gap: $gap;
  @media (min-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }
  @media (min-width: 1024px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (min-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

/**
 * @mixin gridItemX
 * Defines responsive grid item positioning based on screen size.
 * There are 10 grid items on the blog page, and 4 grid items on the about page. 
 * Each grid item has it's own mixin with media queries for three different break points, which determine the positioning of each
 * grid depending on the breakpoint.
 */
@mixin gridItem1 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  @media (min-width: 1024px) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  @media (min-width: 1440px) {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}

@mixin gridItem2 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  @media (min-width: 1024px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  @media (min-width: 1440px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@mixin gridItem3 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  @media (min-width: 1024px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  @media (min-width: 1440px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@mixin gridItem4 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  @media (min-width: 1024px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  @media (min-width: 1440px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
  }
}

@mixin gridItem5 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  @media (min-width: 1024px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  @media (min-width: 1440px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@mixin gridItem6 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  @media (min-width: 1024px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  @media (min-width: 1440px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@mixin gridItem7 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  @media (min-width: 1024px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  @media (min-width: 1440px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@mixin gridItem8 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  @media (min-width: 1024px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  @media (min-width: 1440px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }
}

@mixin gridItem9 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 9;
    grid-row-end: 10;
  }
  @media (min-width: 1024px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  @media (min-width: 1440px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
  }
}

@mixin gridItem10 {
  @media (min-width: 600px) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 10;
    grid-row-end: 11;
  }
  @media (min-width: 1024px) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  @media (min-width: 1440px) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}

/**
 * @mixin images
 * Applies responsive image styling for grid items.
 */
@mixin images {
  max-width: 100%; // Prevent image from exceeding the container width
  max-height: 100%; // Prevent image from exceeding the container height
  object-fit: cover; // Scale and crop to fill the grid item
  display: block; // Avoid inline whitespace issues
}
