// Variables
$font-style: "Times New Roman", Times, serif;

$header-color: rgb(250, 221, 200);
$headerText-color: #965e5e;
$title-color: hsl(20, 79%, 54%);
$primary-color: rgb(253, 230, 230);
$secondary-color: rgb(255, 235, 209);
$third-color: rgb(255, 242, 204);
$background-color: white;
$titleText-color: rgb(255, 81, 51);
$text-color: #632d23;
$font-family: Arial, sans-serif;
$button-color: rgb(255, 109, 51);
$buttonText-color: white;
$secondary-color: #632d23;
$last-color: rgb(247, 240, 240);
$font-size: 18px;

$columns: 12;
$gap: 1rem;
$breakpoints: (
  small: 600px,
  medium: 1024px,
  large: 1440px,
);

body {
  font-size: $font-size;
  color: $text-color;
  text-align: left;
}

h1 {
  color: $headerText-color;
}

h2 {
  color: $secondary-color;
}

nav {
  display: flex;
  justify-content: left;
  align-items: center;
  ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    text-align: center;
  }
  li {
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: $secondary-color;
  }
}
