<<<<<<< Updated upstream
.navbar {
=======
//_header.scss

// Styles for the navigation bar
.navbar {
    // Background color and shadow for the navbar
>>>>>>> Stashed changes
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        .navbar-item {
            .icon-text {
                .icon {
<<<<<<< Updated upstream
                    color: $primary-color;
                }
                .has-text-weight-bold {
=======
                    // Color for the icon inside the navbar brand
                    color: $primary-color;
                }
                .has-text-weight-bold {
                    // Font size, color, and family for bold text inside the navbar brand
>>>>>>> Stashed changes
                    font-size: 37px;
                    color: $primary-color;
                    font-family: $font-family;
                }
            }
        }
    }

    .navbar-menu {
        .navbar-end {
            .buttons {
                .button {
<<<<<<< Updated upstream
=======
                    // Extending base button styles and setting background and text color
>>>>>>> Stashed changes
                    @extend .button;
                    background-color: $primary-color;
                    color: $button-color;

                    &.is-light {
<<<<<<< Updated upstream
=======
                        // Extending light button styles and setting background and text color for light variant
>>>>>>> Stashed changes
                        @extend .is-light;
                        background-color: transparent;
                        color: $primary-color;

                        &:hover {
<<<<<<< Updated upstream
=======
                            // Hover state for light variant button
>>>>>>> Stashed changes
                            background-color: $primary-color;
                            color: $button-color;
                        }
                    }
                }
            }
        }
    }
}