<<<<<<< Updated upstream
.hero {
    background-color: $background-color;
    
    .hero-body {
      padding: 5rem 1.5rem;
      
      .title {
        font-size: 3.5rem;
        color: #000;
        margin-bottom: 1.5rem;
      }
      
      .subtitle {
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 2rem;
      }
      
      .button.is-primary {
        @include button-style($primary-color);
        padding: 1.5rem 3rem;
        font-size: 1.25rem;
      }
      
      .hero-images {
        display: flex;
        justify-content: center;
        gap: 1rem;
        
        .image {
          width: 230px;
          height: 230px;
          
          img {
            border-radius: 300px;
            transform: rotate(-23.45deg);
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
=======
// _hero.scss

// Styling for the hero section
.hero {
  background-color: $background-color; // Setting the background color

  // Styling for the hero body
  .hero-body {
    padding: 5rem 1.5rem; // Adding padding

    // Styling for the title
    .title {
      font-size: 3.5rem; // Setting the font size
      color: #000; // Setting the text color to black
      margin-bottom: 1.5rem; // Adding bottom margin
    }

    // Styling for the subtitle
    .subtitle {
      color: rgba(0, 0, 0, 0.7); // Setting the text color with opacity
      margin-bottom: 2rem; // Adding bottom margin
    }

    // Styling for the primary button
    .button.is-primary {
      @include button-style($primary-color); // Including button styles mixin
      padding: 1.5rem 3rem; // Adding padding
      font-size: 1.25rem; // Setting the font size
    }

    // Styling for the hero images container
    .hero-images {
      display: flex; // Using flexbox for layout
      justify-content: center; // Centering the content
      gap: 1rem; // Adding gap between images

      // Styling for the individual image container
      .image {
        width: 230px; // Setting the width
        height: 230px; // Setting the height

        // Styling for the image inside the container
        img {
          border-radius: 300px; // Making the image circular
          transform: rotate(-23.45deg); // Rotating the image
          object-fit: cover; // Ensuring the image covers the container
          width: 100%; // Setting the width to 100%
          height: 100%; // Setting the height to 100%
        }
      }
    }
  }
}
>>>>>>> Stashed changes
