// Define color variables
<<<<<<< Updated upstream
$primary-color: #A7727D;
$secondary-color: #bae978;
$background-color: #FAF9F6;
$text-color: #333;
$font-family: 'Lato', sans-serif;
$button-color: white;
$border-radius: 5px;

// Override Bulma variables
$primary: $primary-color;
$family-primary: $font-family;
$body-background-color: $background-color;
=======
$primary-color: #A7727D; // Primary color for the theme
$secondary-color: #bae978; // Secondary color for accents
$background-color: #FAF9F6; // Background color for the page
$text-color: #333; // Default text color
$font-family: 'Lato', sans-serif; // Font family for the text
$button-color: white; // Color for buttons
$border-radius: 5px; // Border radius for rounded corners

// Override Bulma variables
$primary: $primary-color; // Set Bulma's primary color to the theme's primary color
$family-primary: $font-family; // Set Bulma's primary font family to the theme's font family
$body-background-color: $background-color; // Set Bulma's body background color to the theme's background color
>>>>>>> Stashed changes
